.main {
    background-image: url(../../img/Forgot_Password-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.change-pass {
  padding-top: 145px;
  text-align: center;
}

.change-pass .row {
  border-bottom-style: dashed;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  width: 98%;
  margin: auto;
  padding-bottom: 10px;
}

.change-pass > p {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}
.change-pass .form-section {
    padding-top: 15px;
    padding-bottom: 191px;
    margin-bottom: 25px;
}

.form-section .form-change-pass > input {
  height: 45px;
}

/*.change-pass .form-section > form .form-group > button {*/
/*  margin: auto;*/
/*}*/

.marCenter {
    margin: auto;
}

.change-pass > span {
  color: #555;
}

.form-change-pass > label {
  color: #555;
}

@media (max-width: 580px) {
    .change-pass > p {
        font-size: 5vw !important;
    }

}

@media (max-width: 768px) {
    .main {
        background-image: none;
    }

    .main .btn-submit {
        font-size: 3.5vw;
    }

    .main .input-text {
        height: 12vw;
    }

    .change-pass > p {
        font-size: 5vw;
    }

    .change-pass .form-section {
        padding-bottom: 0 !important;
    }

    .change-pass {
        padding-top: 40px;
    }
}

@media (max-width: 992px) {
    .main {
        background-image: none;
    }
    .main .btn-submit {
        font-size: 2.5vw;
    }
    .main .input-text {
        height: 8vw;
    }
    .change-pass > p {
        font-size: 3vw;
    }

    .change-pass .form-section {
        padding-bottom: 0 !important;
    }

    .change-pass {
        padding-top: 40px;
    }

    .change-pass .row {
        width: 90vw;
    }
}
