<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Customer Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <base href="/">
    <link rel="stylesheet" th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}">
    <style>
        body {text-align: center;}
    </style>
</head>
    <body>
        <h1>Description</h1>
            <p th:text="${description.content}"></p>
    </body>
</html>
